# conda create -p venv python==3.13

langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
python-dotenv
langchain_huggingface
streamlit
langchain_openai
